<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include "home/navbar.html" %}
    <h1>login</h1>
    <form action="{% url 'signin' %}" method="post">

        {% csrf_token %}
        <span>username:</span>
        <input type="text" name="username" id=""><br>
        <span>password:</span>
        <input type="password" name="password" id=""><br>
        <input type="submit" value="login">

    </form>
    <p>don't have an Account <a href="{% url 'signup' %}"> sign up now</a></p>
</body>
</html>